// show flash message if it exists in the session object
// example: req.flash('success', 'You are now registered and can log in')
// @param {Array} successes - array of success messages
if successes && successes.length > 0
    each message in successes
        p= message
if infos && infos.length > 0
    each message in infos
        p= message
if errors && errors.length > 0
    each message in errors
        p= message