extends layout

block content
    form(action="/login" method="post")
        div.form-group
            label(for="username") Username
            input#username.form-control(type="text" name="username" placeholder="Username")
        div.form-group
            label(for="password") Password
            input#password.form-control(type="password" name="password" placeholder="Password")
        div.form-group
            button.btn.btn-primary(type="submit") Login
        p Don't have an account? <a href="/signup">Sign Up</a>