mixin navbar(user, path)
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    case path
                        when '/'
                            li.nav-item
                                a.nav-link.active(href='/') Home
                            if !user
                                li.nav-item
                                    a.nav-link(href='/login') Login
                            else
                                li.nav-item
                                    a.nav-link(href='/logout') Logout
                        when '/login'
                            li.nav-item
                                a.nav-link(href='/') Home
                            if !user
                                li.nav-item
                                    a.nav-link.active(href='/login') Login
                            else
                                li.nav-item
                                    a.nav-link(href='/logout') Logout
                        when '/signup'
                            li.nav-item
                                a.nav-link(href='/') Home
                            if !user
                                li.nav-item
                                    a.nav-link(href='/login') Login
                            else
                                li.nav-item
                                    a.nav-link(href='/logout') Logout